.page-2 {

  .sky {
    background-image: url('../assets/img/page2/Sky.jpg');
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    background-size: cover;
  }

  .sun {
    width: 20%;
    top: 5%;
    left: 63%;
    height: 42%;
    z-index: 5;
  }

  .bgTree1 {
    background-image: url('../assets/img/common/GreenTree1.png');
    height: 15%;
    width: 5%;
    top: 2%;
    left: 20%;
    z-index: 6;
    transform: scaleX(-1);
  }

  .bgTree2 {
    background-image: url('../assets/img/common/GreenTree2.png');
    height: 15%;
    width: 5%;
    top: 4%;
    left: 25%;
    z-index: 6;
    transform: scaleX(-1);
  }

  .bgTree3 {
    background-image: url('../assets/img/common/RedTree1.png');
    height: 16%;
    width: 8%;
    top: 0%;
    left: 21%;
    z-index: 6;
    transform: scaleX(-1);
  }

  .bgTree4 {
    background-image: url('../assets/img/common/RedTree2.png');
    height: 25%;
    width: 5%;
    top: 23%;
    right: 0%;
    z-index: 6;
  }

  .bgTree5 {
    background-image: url('../assets/img/common/RedTree3.png');
    height: 15%;
    width: 5%;
    top: 18%;
    left: 45%;
    z-index: 6;
  }

  .bgTree6 {
    background-image: url('../assets/img/common/RedTree4.png');
    height: 15%;
    width: 5%;
    top: 0%;
    left: 12%;
    z-index: 6;
    transform: scaleX(-1);
  }

  .bgTree7 {
    background-image: url('../assets/img/common/GreenTree1.png');
    height: 12%;
    width: 5%;
    top: 23%;
    right: 2%;
    z-index: 6;
  }

  .ground {
    background-image: url('../assets/img/page2/ground.png');
    width: 101%;
    bottom: 15%;
    left: 0;
    height: 101%;
    z-index: 15;
    top: 0;
    pointer-events: none;
  }

  .tree {
    background-image: url('../assets/img/page2/tree.png');
    width: 74%;
    top: 0;
    right: -1%;
    height: 87%;
    z-index: 15;
    pointer-events: none;
  }

  .tree2 {
    background-image: url('../assets/img/page2/tree2.png');
    width: 74%;
    top: 0;
    right: -1%;
    height: 87%;
    z-index: 20;
    pointer-events: none;
  }

  .canopy {
    background-image: url('../assets/img/page2/canopy.png');
    width: 74%;
    top: 0;
    right: -1%;
    height: 87%;
    z-index: 10;
    pointer-events: none;
  }

  .fence {
    background-image: url('../assets/img/page2/fence.png');
    width: 97%;
    top: 8%;
    right: -.8%;
    height: 88%;
    z-index: 25;
    pointer-events: none;
  }

  .foliage {
    background-image: url('../assets/img/page2/foliage1.png');
    width: 27%;
    top: 66.5%;
    right: 9%;
    height: 19%;
    z-index: 28;
  }

  .grass1 {
    background-image: url('../assets/img/page2/grass1.png');
    width: 3%;
    top: 63%;
    right: 48%;
    height: 12%;
    z-index: 30;
  }
  .grass2 {
    background-image: url('../assets/img/page2/grass2.png');
    width: 5%;
    top: 60%;
    right: 40%;
    height: 18%;
    z-index: 30;
  }
  .grass3 {
    background-image: url('../assets/img/page2/grass3.png');
    width: 7%;
    top: 62%;
    right: 33%;
    height: 20%;
    z-index: 30;
  }
  .grass4 {
    background-image: url('../assets/img/page2/grass4.png');
    width: 4%;
    top: 73%;
    right: 27%;
    height: 10%;
    z-index: 30;
  }
  .grass5 {
    background-image: url('../assets/img/page2/grass5.png');
    width: 10%;
    top: 67%;
    right: 15%;
    height: 18%;
    z-index: 30;
  }
  .grass6 {
    background-image: url('../assets/img/page2/grass6.png');
    width: 4%;
    top: 72%;
    right: 7%;
    height: 15%;
    z-index: 30;
  }
  .grass7 {
    background-image: url('../assets/img/page2/grass7.png');
    width: 7%;
    top: 70%;
    right: 0;
    height: 20%;
    z-index: 30;
  }

  .sheep1 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: rotate(15deg);
    &-body {
      background-image: url('../assets/img/page2/Sheep1-body.png');
      width: 100%;
      height: 100%;

    }

    &-ear {
      background-image: url('../assets/img/page2/Sheep1-ear.png');
      width: 5%;
      height: 12%;
      top: 10%;
      left: 72%;
      z-index: 1;
      transform-origin: 50% 10%;

    }

    &-container.js-running .sheep1-back-left-foot{
      top: 85%;
      left: 25%;
      transform: rotate(150deg);
    }

    &-back-left-foot {
      background-image: url('../assets/img/page2/Sheep1-foot.png');

      width: 20%;
      height: 11%;
      top: 83%;
      left: 30%;
      z-index: -1;
    transform-origin: 5% 6%;
      transform: rotate(100deg);

    }

    &-container.js-running .sheep1-back-right-foot{
      top: 80%;
      left: 30%;
      transform: rotate(120deg);
    }

    &-back-right-foot {
      background-image: url('../assets/img/page2/Sheep1-foot.png');
      width: 20%;
      height: 11%;
      top: 80%;
      left: 35%;
      z-index: -1;
      transform: rotate(100deg);
      transform-origin: 15% 65%;

    }
    &-front-left-foot {
      background-image: url('../assets/img/page2/Sheep1-foot.png');

    }


    &-container.js-running .sheep1-front-right-foot{
      top: 45%;
      left: 85%;
      transform: rotate(0deg);
    }

    &-front-right-foot {
      background-image: url('../assets/img/page2/Sheep1-foot.png');
      width: 20%;
      height: 11%;
      top: 66%;
      left: 81%;
      z-index: -1;
      transform: rotate(100deg);
      transform-origin: 15% 35%;
      //&:before{
      //  content:'';
      //  height:2%;
      //  width: 2%;
      //  position: absolute;
      //  top:65%;
      //  left:15%;
      //  border: solid 1px yellow;
      //  z-index: 10000000;
      //}

    }

    &-container {
      width: 32%;
      top: 34%;
      left: 3%;
      height: 45%;
      z-index: 30;

    }

  }
  .sheep2 {
    background-image: url('../assets/img/page2/Sheep2.png');
    width: 100%;
    height: 100%;

    &-container {

      width: 14%;
      top: 19%;
      left: 110%;
      height: 23%;
      z-index: 20;
    }

  }
  .sheep3 {
    background-image: url('../assets/img/page2/Sheep3.png');
    width: 100%;
    height: 100%;

    &-container {

      width: 25%;
      top: 25%;
      left: 51%;
      height: 33%;
      z-index: 19;
    }

  }

  .sheep4, .sheep5, .sheep10 {
    background-image: url('../assets/img/common/Sheep5.png');
  }
  .sheep6, .sheep7, .sheep8, .sheep9 {
    background-image: url('../assets/img/common/Sheep4.png');
  }
  .sheep11, .sheep12 {
    background-image: url('../assets/img/common/Sheep3.png');
  }

  .sheep4 {
    height: 14%;
    width: 13%;
    top: 36%;
    left: 85%;
    z-index: 18;
    transform: scaleX(-1);
  }
  .sheep5 {
    height: 8%;
    width: 10%;
    top: 28%;
    left: 62%;
    z-index: 18;
  }

  .sheep6 {
    height: 8%;
    width: 7%;
    top: 30%;
    right: -1%;
    z-index: 18;
  }
  .sheep7 {
    height: 9%;
    width: 3%;
    top: 5%;
    left: 10%;
    z-index: 18;
  }
  .sheep8 {
    height: 3%;
    width: 3%;
    top: 26%;
    left: 56%;
    z-index: 18;
    transform: scaleX(-1);
  }
  .sheep9 {
    height: 9%;
    width: 8%;
    top: 22%;
    left: 40%;
    z-index: 18;
  }
  .sheep10 {
    height: 9%;
    width: 8%;
    top: 17%;
    left: 29%;
    z-index: 18;
  }
  .sheep11 {
    height: 7%;
    width: 4%;
    top: 13%;
    left: 26%;
    z-index: 18;
  }
  .sheep12 {
    height: 8%;
    width: 7%;
    top: 8%;
    left: 15%;
    z-index: 25;
  }

  .cloud-section{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:30%;
  }

}
