.page-3 {

  .sky {
    background-image: url('../assets/img/page3/sky.png');
    width: 100%;
    top: 0;
    left: 0;
    height: 35%;
    z-index: 0;
    background-size: cover;

  }

  .moon {
    background-image: url('../assets/img/page3/moon.png');
    width: 10%;
    top: 14%;
    left: 67%;
    height: 15%;
    z-index: 20;
    transform-origin: 50% 50%;

    //&:before{
    //  content:'';
    //  height:2%;
    //  width: 2%;
    //  position: absolute;
    //  top:50%;
    //  left:50%;
    //  border: solid 1px yellow;
    //  z-index: 10000000;
    //}

  }

  .bgTree1 {
    background-image: url('../assets/img/common/GreenTree1.png');
    height: 15%;
    width: 5%;
    top: 2%;
    left: 20%;
    z-index: 6;
    transform: scaleX(-1);
  }

  .bgTree2 {
    background-image: url('../assets/img/common/GreenTree2.png');
    height: 15%;
    width: 5%;
    top: 4%;
    left: 25%;
    z-index: 6;
    transform: scaleX(-1);
  }

  .bgTree3 {
    background-image: url('../assets/img/common/RedTree1.png');
    height: 16%;
    width: 8%;
    top: 0%;
    left: 21%;
    z-index: 6;
    transform: scaleX(-1);
  }

  .bgTree4 {
    background-image: url('../assets/img/common/RedTree2.png');
    height: 25%;
    width: 5%;
    top: 23%;
    right: 0%;
    z-index: 6;
  }

  .bgTree5 {
    background-image: url('../assets/img/common/RedTree3.png');
    height: 15%;
    width: 5%;
    top: 18%;
    left: 45%;
    z-index: 6;
  }

  .bgTree6 {
    background-image: url('../assets/img/common/RedTree4.png');
    height: 15%;
    width: 5%;
    top: 0%;
    left: 12%;
    z-index: 6;
    transform: scaleX(-1);
  }

  .bgTree7 {
    background-image: url('../assets/img/common/GreenTree1.png');
    height: 12%;
    width: 5%;
    top: 23%;
    right: 2%;
    z-index: 6;
  }

  .ground {
    background-image: url('../assets/img/page3/ground.png');
    width: 101%;
    bottom: 15%;
    left: 0;
    height: 101%;
    z-index: 15;
    top: 0;
    pointer-events: none !important;
  }

  .tree {
    background-image: url('../assets/img/page3/tree.png');
    width: 74%;
    top: 0;
    right: -1%;
    height: 87%;
    z-index: 20;
    pointer-events: none !important;
  }

  .fence {
    background-image: url('../assets/img/page3/fence.png');
    width: 97%;
    top: 8%;
    right: -.8%;
    height: 88%;
    z-index: 25;
    pointer-events: none !important;
  }

  .foliage {
    background-image: url('../assets/img/page3/foliage1.png');
    width: 27%;
    top: 66.5%;
    right: 9%;
    height: 19%;
    z-index: 28;
    pointer-events: none !important;
  }

  .grass1 {
    background-image: url('../assets/img/page3/grass1.png');
    width: 3%;
    top: 63%;
    right: 48%;
    height: 12%;
    z-index: 30;
  }

  .grass2 {
    background-image: url('../assets/img/page3/grass2.png');
    width: 5%;
    top: 60%;
    right: 40%;
    height: 18%;
    z-index: 30;
  }

  .grass3 {
    background-image: url('../assets/img/page3/grass3.png');
    width: 12%;
    top: 62%;
    right: 28%;
    height: 20%;
    z-index: 30;
  }

  .grass4 {
    background-image: url('../assets/img/page3/grass4.png');
    width: 4%;
    top: 73%;
    right: 27%;
    height: 10%;
    z-index: 30;
  }

  .grass5 {
    background-image: url('../assets/img/page3/grass5.png');
    width: 10%;
    top: 67%;
    right: 15%;
    height: 18%;
    z-index: 30;
  }

  .grass6 {
    background-image: url('../assets/img/page3/grass6.png');
    width: 4%;
    top: 72%;
    right: 7%;
    height: 15%;
    z-index: 30;
  }

  .grass7 {
    background-image: url('../assets/img/page3/grass7.png');
    width: 7%;
    top: 70%;
    right: 0;
    height: 20%;
    z-index: 30;
  }

  .rocksheep {
    background-image: url('../assets/img/page3/rocksheep.png');
    width: 100%;
    height: 100%;

    &-container {
      width: 20%;
      top: 38%;
      right: 9%;
      height: 31%;
      z-index: 18;
    }

  }

  .sheep1 {
    background-image: url('../assets/img/page3/SheepSleep1a.png');
    height: 25%;
    width: 20%;
    top: 23%;
    left: 23%;
    z-index: 18;

    .zzz {
      left: 65%;
      top: 30%;
      font-size: 6vh;
      z-index: -10;
      position: absolute;
    }

  }

  .sheep2 {
    background-image: url('../assets/img/page3/SheepSleep2.png');
    width: 12%;
    top: 15%;
    left: 8%;
    height: 10%;
    z-index: 23;

    position: relative;

    .zzz {
      top: 20%;
      left: 50%;
      font-size: 4vh;
    }

  }

  .sheep3 {
    background-image: url('../assets/img/page3/SheepSleep3a.png');
    width: 28%;
    top: 60%;
    left: 6%;
    height: 30%;
    z-index: 19;

    position: relative;

    .zzz {
      top: 40%;
      left: 10%;
    }

  }

  .sheep4 {
    background-image: url('../assets/img/page3/SheepSleep4.png');
    width: 10%;
    top: 30%;
    right: 0%;
    height: 20%;
    z-index: 10;

    .zzz {
      left: 65%;
      top: 5%;
      font-size: 3vh;
    }


  }

  .sheep5 {
    background-image: url('../assets/img/page3/SheepSleep5.png');
    height: 8%;
    width: 10%;
    top: 28%;
    left: 62%;
    z-index: 18;

    .zzz {
      left: 5%;
      top: 5%;
      font-size: 3vh;
    }

  }

  .sheep6 {
    background-image: url('../assets/img/page3/SheepSleep6.png');
    height: 8%;
    width: 7%;
    top: 10%;
    left: 18%;
    z-index: 18;

    .zzz {
      left: 5%;
      top: 5%;
      font-size: 3vh;
    }

  }

  .sheep7 {
    background-image: url('../assets/img/page3/WetSheep.png');
    width: 25%;
    top: 47%;
    left: 6%;
    height: 27%;
    z-index: 60;
  }

  .sheep8 {
    background-image: url('../assets/img/page3/Sheep2.png');
    width: 20%;
    top: 27%;
    left: 14%;
    height: 25%;
    z-index: 50;
  }

  .sheep9 {

    background-image: url('../assets/img/page3/Sheep1.png');
    width: 40%;
    top: 28%;
    left: 36%;
    height: 32%;
    z-index: 50;
  }

  .zzz {
    position: absolute;

    font-size: 10vh;
    color: white;
    transform: scale(.1);
    opacity: 0;
    line-height: .5;
  }

}