.page-5 {

  .content {}

  .para1 {
    position: absolute;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: min(90%, 400px);
    text-align: center;
    top: 5%;
  }

  .rocksheep-container {
    width: 55%;
    top: 15%;
    left: 25%;
    height: 110%;
    z-index: 50;
    transform-origin: 75% 75%;
    position: absolute;
  }

  .rocksheep {
    background-image: url('../assets/img/page5/rocksheep.png');
    width: 100%;
    //top: 14%;
    //left: 25%;
    height: 80%;
    //z-index: 50;
    position: relative;
  }

  canvas {
    z-index: 10;
  }

  .sunburst {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #FFF;
    animation: 20s linear infinite colorchange;
    z-index: 0;
  }

  .sunburst .outer {
    width: 2000px;
    height: 910px;
    padding-top: 1090px;
    margin: -700px 0 0 -340px;

    animation-name: rotate1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .sunburst b {
    display: block;
    width: 0;
    height: 0;
    border-width: 90px 1000px;
    margin: -180px 0 0 0;
    border-color: transparent white;
    border-style: solid;
  }

  .sunburst b:nth-child(1) {
    transform: rotate(20deg);
  }

  .sunburst b:nth-child(2) {
    transform: rotate(40deg);
  }

  .sunburst b:nth-child(3) {
    transform: rotate(60deg);
  }

  .sunburst b:nth-child(4) {
    transform: rotate(80deg);
  }

  .sunburst b:nth-child(5) {
    transform: rotate(100deg);
  }

  .sunburst b:nth-child(6) {
    transform: rotate(120deg);
  }

  .sunburst b:nth-child(7) {
    transform: rotate(140deg);
  }

  .sunburst b:nth-child(8) {
    transform: rotate(160deg);
  }

  .sunburst b:nth-child(9) {
    transform: rotate(180deg);
  }

  @keyframes rotate1 {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(20deg);
    }
  }

}