.preload_area {
  width: 0px;
  height: 0px;
  display: inline;
}

//preload_area common folder
//preload_area page1
.page-0 {

  .preload_area {

    background-image: url('../assets/img/common/Cloud1.png');
    background-image: url('../assets/img/common/Cloud2.png');
    background-image: url('../assets/img/common/Cloud3.png');
    background-image: url('../assets/img/common/GreenTree1.png');
    background-image: url('../assets/img/common/GreenTree2.png');
    background-image: url('../assets/img/common/RedTree1.png');
    background-image: url('../assets/img/common/RedTree2.png');
    background-image: url('../assets/img/common/RedTree3.png');
    background-image: url('../assets/img/common/RedTree4.png');
    background-image: url('../assets/img/common/Sheep3.png');
    background-image: url('../assets/img/common/Sheep4.png');
    background-image: url('../assets/img/common/Sheep5.png');
    background-image: url('../assets/img/common/Sky.png');
    background-image: url('../assets/img/common/Sun.png');
    background-image: url('../assets/img/common/tiny-guitar.png');

    background-image: url('../assets/img/page1/GreenHill_Background.png');
    background-image: url('../assets/img/page1/GreenHill_Foreground.png');
    background-image: url('../assets/img/page1/Sheep1.png');
    background-image: url('../assets/img/page1/Sheep2.png');
    background-image: url('../assets/img/page1/Sky.png');

  }

}

.page-1 {
  .preload_area {
    background-image: url('../assets/img/page2/canopy.png');
    background-image: url('../assets/img/page2/fence.png');
    background-image: url('../assets/img/page2/foliage1.png');
    background-image: url('../assets/img/page2/grass1.png');
    background-image: url('../assets/img/page2/grass2.png');
    background-image: url('../assets/img/page2/grass3.png');
    background-image: url('../assets/img/page2/grass4.png');
    background-image: url('../assets/img/page2/grass5.png');
    background-image: url('../assets/img/page2/grass6.png');
    background-image: url('../assets/img/page2/grass7.png');
    background-image: url('../assets/img/page2/ground.png');
    background-image: url('../assets/img/page2/Sheep1.png');
    background-image: url('../assets/img/page2/Sheep2.png');
    background-image: url('../assets/img/page2/Sheep3.png');
    background-image: url('../assets/img/page2/Sheeps2.png');
    background-image: url('../assets/img/page2/Sky.jpg');
    background-image: url('../assets/img/page2/tree.png');
  }
}

.page-2 {
  .preload_area {
    background-image: url('../assets/img/page3/canopy.png');
    background-image: url('../assets/img/page3/fence.png');
    background-image: url('../assets/img/page3/foliage1.png');
    background-image: url('../assets/img/page3/grass1.png');
    background-image: url('../assets/img/page3/grass2.png');
    background-image: url('../assets/img/page3/grass3.png');
    background-image: url('../assets/img/page3/grass4.png');
    background-image: url('../assets/img/page3/grass5.png');
    background-image: url('../assets/img/page3/grass6.png');
    background-image: url('../assets/img/page3/grass7.png');
    background-image: url('../assets/img/page3/ground.png');
    background-image: url('../assets/img/page3/moon.png');
    background-image: url('../assets/img/page3/rocksheep.png');
    background-image: url('../assets/img/page3/Sheep1.png');
    background-image: url('../assets/img/page3/Sheep2.png');
    background-image: url('../assets/img/page3/SheepSleep1.png');
    background-image: url('../assets/img/page3/SheepSleep2.png');
    background-image: url('../assets/img/page3/SheepSleep3.png');
    background-image: url('../assets/img/page3/SheepSleep4.png');
    background-image: url('../assets/img/page3/SheepSleep5.png');
    background-image: url('../assets/img/page3/SheepSleep6.png');
    background-image: url('../assets/img/page3/sky.png');
    background-image: url('../assets/img/page3/tree.png');
    background-image: url('../assets/img/page3/WetSheep.png');
  }
}

.page-3 {
  .preload_area {
    background-image: url('../assets/img/page4/fence1.png');
    background-image: url('../assets/img/page4/fence2.png');
    background-image: url('../assets/img/page4/grass1.png');
    background-image: url('../assets/img/page4/grass2.png');
    background-image: url('../assets/img/page4/grass3.png');
    background-image: url('../assets/img/page4/grass4.png');
    background-image: url('../assets/img/page4/grass5.png');
    background-image: url('../assets/img/page4/hill1.png');
    background-image: url('../assets/img/page4/hill2.png');
    background-image: url('../assets/img/page4/rock.png');
    background-image: url('../assets/img/page4/rocksheep.png');
    background-image: url('../assets/img/page4/sheep1.png');
    background-image: url('../assets/img/page4/sheep2.png');
    background-image: url('../assets/img/page4/tree.png');
  }
}

.page-4 {
  .preload_area {
    background-image: url('../assets/img/page5/rocksheep.png');
  }
}

.page-5 {
  .preload_area {
    background-image: url('../assets/img/page6/background.png');
    background-image: url('../assets/img/page6/bg-trees.png');
    background-image: url('../assets/img/page6/foreground.png');
    background-image: url('../assets/img/page6/rocksheep.png');
    background-image: url('../assets/img/page6/sheeps.png');
    background-image: url('../assets/img/page6/tree1.png');
  }
}

.page-6 {
  .preload_area {
    background-image: url('../assets/img/page7/Cloud.png');
    background-image: url('../assets/img/page7/Fence.png');
    background-image: url('../assets/img/page7/Grass_1.png');
    background-image: url('../assets/img/page7/Grass_2.png');
    background-image: url('../assets/img/page7/Grass_3.png');
    background-image: url('../assets/img/page7/Grass_4.png');
    background-image: url('../assets/img/page7/Grass_5.png');
    background-image: url('../assets/img/page7/hill1.png');
    background-image: url('../assets/img/page7/hill2.png');
    background-image: url('../assets/img/page7/Rock.png');
    background-image: url('../assets/img/page7/RockSheep.png');
    background-image: url('../assets/img/page7/Sheep_1.png');
    background-image: url('../assets/img/page7/Sheep_2.png');
    background-image: url('../assets/img/page7/Sheep.png');
    background-image: url('../assets/img/page7/Sky.png');
    background-image: url('../assets/img/page7/Tree.png');
  }
}

.page-7 {
  .preload_area {
    background-image: url('../assets/img/page8/Amplifier.png');
    background-image: url('../assets/img/page8/Bird_01.png');
    background-image: url('../assets/img/page8/Bird_02.png');
    background-image: url('../assets/img/page8/Grass.png');
    background-image: url('../assets/img/page8/Rock_Sheep.png');
    background-image: url('../assets/img/page8/Sheep_1.png');
    background-image: url('../assets/img/page8/Sheep_2.png');
    background-image: url('../assets/img/page8/Sheep_3.png');
    background-image: url('../assets/img/page8/Sheep_4.png');
    background-image: url('../assets/img/page8/Sheep_5.png');
    background-image: url('../assets/img/page8/Tree.png');
    background-image: url('../assets/img/page8/Trees.png');
  }
}

.page-8 {
  .preload_area {
    background-image: url('../assets/img/page9/Back_Sheep.png');
    background-image: url('../assets/img/page9/Front_Sheep.png');
    background-image: url('../assets/img/page9/Grass_Background.png');
    background-image: url('../assets/img/page9/Vinyl_Cover_Rock_Sheep.png');
    background-image: url('../assets/img/page9/Vinyl.png');
  }
}

.page-9 {
  .preload_area {
    background-image: url('../assets/img/page10/Background.png');
    background-image: url('../assets/img/page10/Picture_1.png');
    background-image: url('../assets/img/page10/Picture_2.png');
    background-image: url('../assets/img/page10/Picture_3.png');
    background-image: url('../assets/img/page10/Picture_4.png');
  }
}

.page-10 {
  .preload_area {
    background-image: url('../assets/img/page11/Bleep_Text.png');
    background-image: url('../assets/img/page11/Cloud.png');
    background-image: url('../assets/img/page11/Grass_Background.png');
    background-image: url('../assets/img/page11/Hills.png');
    background-image: url('../assets/img/page11/Sheep_1_Reading_Sheep_Life.png');
    background-image: url('../assets/img/page11/Sheep_2_Phone.png');
    background-image: url('../assets/img/page11/Sheep_3_Group.png');
    background-image: url('../assets/img/page11/Sky.png');
    background-image: url('../assets/img/page11/Trees.png');
    background-image: url('../assets/img/page11/Tv.png');
  }
}

.page-11 {
  .preload_area {
    background-image: url('../assets/img/page12/Fence.png');
    background-image: url('../assets/img/page12/Grass_1.png');
    background-image: url('../assets/img/page12/Grass_2.png');
    background-image: url('../assets/img/page12/Grass_3.png');
    background-image: url('../assets/img/page12/Grass_4.png');
    background-image: url('../assets/img/page12/Grass_5.png');
    background-image: url('../assets/img/page12/Grass_6.png');
    background-image: url('../assets/img/page12/Grass.png');
    background-image: url('../assets/img/page12/River.png');
    background-image: url('../assets/img/page12/Sheep_1.png');
    background-image: url('../assets/img/page12/Sheep_2.png');
    background-image: url('../assets/img/page12/Sheep_3.png');
    background-image: url('../assets/img/page12/Sheep_4.png');
    background-image: url('../assets/img/page12/Sheep_Group1.png');
    background-image: url('../assets/img/page12/Sheep_Group2.png');
    background-image: url('../assets/img/page12/Sheep_Group3.png');
    background-image: url('../assets/img/page12/Sheep_Group4.png');
    background-image: url('../assets/img/page12/Sheep_Group5.png');
    background-image: url('../assets/img/page12/Tree_1.png');
    background-image: url('../assets/img/page12/Tree_2.png');
    background-image: url('../assets/img/page12/Tree_03.png');
    background-image: url('../assets/img/page12/tree.png');
  }
}

.page-12 {
  .preload_area {
    background-image: url('../assets/img/page13/Background.png');
    background-image: url('../assets/img/page13/Clouds.png');
    background-image: url('../assets/img/page13/Moon.png');
    background-image: url('../assets/img/page13/Rock_Sheep.png');
    background-image: url('../assets/img/page13/Rose_1.png');
    background-image: url('../assets/img/page13/Rose_2.png');
    background-image: url('../assets/img/page13/Rose_3.png');
    background-image: url('../assets/img/page13/Rose_4.png');
    background-image: url('../assets/img/page13/Sheep.png');
    background-image: url('../assets/img/page13/Spotlight.png');
    background-image: url('../assets/img/page13/Stage.png');
    background-image: url('../assets/img/page13/Stars.png');
  }
}

.page-13 {
  .preload_area {
    background-image: url('../assets/img/page14/Clouds.png');
    background-image: url('../assets/img/page14/Moon.png');
    background-image: url('../assets/img/page14/Sheep_Guitar.png');
    background-image: url('../assets/img/page14/Sheep.png');
    background-image: url('../assets/img/page14/Sky.png');
    background-image: url('../assets/img/page14/Stars.png');
  }
}

.page-14 {
  .preload_area {
    background-image: url('../assets/img/page15/Clouds.png');
    background-image: url('../assets/img/page15/Crowd_Of_Sheep.png');
    background-image: url('../assets/img/page15/Light.png');
    background-image: url('../assets/img/page15/Moon.png');
    background-image: url('../assets/img/page15/Rock_Sheep.png');
    background-image: url('../assets/img/page15/Sky.png');
    background-image: url('../assets/img/page15/Stage_Light.png');
    background-image: url('../assets/img/page15/Tree1.png');
    background-image: url('../assets/img/page15/Tree2.png');
    background-image: url('../assets/img/page15/Tree3.png');
  }
}

.page-15 {
  .preload_area {
    background-image: url('../assets/img/page16/Cloud.png');
    background-image: url('../assets/img/page16/Rock_Sheep.png');
    background-image: url('../assets/img/page16/Sheep_Guitar.png');
    background-image: url('../assets/img/page16/Sheep.png');
    background-image: url('../assets/img/page16/Sky.png');
  }
}

.page-16 {
  .preload_area {
    background-image: url('../assets/img/page17/Cloud_Bubble.png');
    background-image: url('../assets/img/page17/Glasses.png');
    background-image: url('../assets/img/page17/Rock_Sheep_With_Glasses_Original_Version.png');
    background-image: url('../assets/img/page17/Rock_Sheep_Without_Glasses.png');
    background-image: url('../assets/img/page17/Sheep1.png');
    background-image: url('../assets/img/page17/Sheep2.png');
    background-image: url('../assets/img/page17/Sheep3.png');
    background-image: url('../assets/img/page17/Sheep4.png');
    background-image: url('../assets/img/page17/Sheep5.png');
    background-image: url('../assets/img/page17/Sky.png');
  }
}

.page-17 {
  .preload_area {
    background-image: url('../assets/img/page18/Grass1.png');
    background-image: url('../assets/img/page18/Sheep1.png');
    background-image: url('../assets/img/page18/Sheep2.png');
    background-image: url('../assets/img/page18/Sheep3.png');
    background-image: url('../assets/img/page18/Sky.png');
  }
}

.page-18 {
  .preload_area {
    background-image: url('../assets/img/page19/Clouds.png');
    background-image: url('../assets/img/page19/hill1.png');
    background-image: url('../assets/img/page19/hill2.png');
    background-image: url('../assets/img/page19/hill3.png');
    background-image: url('../assets/img/page19/hilllz.png');
    background-image: url('../assets/img/page19/Rock_Sheep.png');
    background-image: url('../assets/img/page19/Sheep.png');
    background-image: url('../assets/img/page19/Sky.png');
    background-image: url('../assets/img/page19/Stage_Light_1.png');
    background-image: url('../assets/img/page19/Stage_Light_2.png');
    background-image: url('../assets/img/page19/Stage.png');
    background-image: url('../assets/img/page19/sun.png');
    background-image: url('../assets/img/page19/Trees1.png');
    background-image: url('../assets/img/page19/Trees2.png');
    background-image: url('../assets/img/page19/Trees3.png');
  }
}

.page-19 {
  .preload_area {
    background-image: url('../assets/img/page20/Clouds.png');
    background-image: url('../assets/img/page20/Rock_sheep.png');
    background-image: url('../assets/img/page20/Sky.png');
  }
}

.page-20 {
  .preload_area {
    background-image: url('../assets/img/page21/Cloud-Bubble.png');
    background-image: url('../assets/img/page21/Clouds.png');
    background-image: url('../assets/img/page21/Sheep_Cat.png');
    background-image: url('../assets/img/page21/Sheep-1.png');
    background-image: url('../assets/img/page21/Sheep-2.png');
    background-image: url('../assets/img/page21/Sky.png');
  }
}

.page-21 {
  .preload_area {
    background-image: url('../assets/img/page22/Coin1.png');
    background-image: url('../assets/img/page22/Coin2.png');
    background-image: url('../assets/img/page22/Coin3.png');
    background-image: url('../assets/img/page22/Coin4.png');
    background-image: url('../assets/img/page22/Coin5.png');
    background-image: url('../assets/img/page22/Coin6.png');
    background-image: url('../assets/img/page22/Grass-1.png');
    background-image: url('../assets/img/page22/Grass2.png');
    background-image: url('../assets/img/page22/Sheep.png');
    background-image: url('../assets/img/page22/shovel.png');
    background-image: url('../assets/img/page22/Sky.png');
    background-image: url('../assets/img/page22/Trees1.png');
    background-image: url('../assets/img/page22/Trees2.png');
    background-image: url('../assets/img/page22/Trees3.png');
    background-image: url('../assets/img/page22/Water.png');
  }
}

.page-22 {
  .preload_area {
    background-image: url('../assets/img/page23/bee.png');
    background-image: url('../assets/img/page23/fairy.png');
    background-image: url('../assets/img/page23/hula.png');
    background-image: url('../assets/img/page23/lion.png');
    background-image: url('../assets/img/page23/pizza.png');
    background-image: url('../assets/img/page23/rocksheep.png');
    background-image: url('../assets/img/page23/santa.png');
    background-image: url('../assets/img/page23/trees.png');
    background-image: url('../assets/img/page23/viking.png');
  }
}

.page-23 {
  .preload_area {
    background-image: url('../assets/img/page24/ballerina-sheep.png');
    background-image: url('../assets/img/page24/canopy.png');
    background-image: url('../assets/img/page24/croc-sheep.png');
    background-image: url('../assets/img/page24/fence.png');
    background-image: url('../assets/img/page24/foliage1.png');
    background-image: url('../assets/img/page24/grass1.png');
    background-image: url('../assets/img/page24/grass2.png');
    background-image: url('../assets/img/page24/grass3.png');
    background-image: url('../assets/img/page24/grass4.png');
    background-image: url('../assets/img/page24/grass5.png');
    background-image: url('../assets/img/page24/grass6.png');
    background-image: url('../assets/img/page24/grass7.png');
    background-image: url('../assets/img/page24/ground.png');
    background-image: url('../assets/img/page24/hotdog-sheep.png');
    background-image: url('../assets/img/page24/river.png');
    background-image: url('../assets/img/page24/rocksheep.png');
    background-image: url('../assets/img/page24/Sheep1.png');
    background-image: url('../assets/img/page24/Sheep2.png');
    background-image: url('../assets/img/page24/Sheep3.png');
    background-image: url('../assets/img/page24/Sheeps2.png');
    background-image: url('../assets/img/page24/Sky.jpg');
    background-image: url('../assets/img/page24/squirrel-sheep.png');
    background-image: url('../assets/img/page24/swim-sheep.png');
    background-image: url('../assets/img/page24/tree.png');
  }
}

.page-24 {
  .preload_area {
    background-image: url('../assets/img/page25/circle.png');
  }
}