.page0 {
  background: url("/images/0.jpg") no-repeat center;
  background-size: contain;
}

.page1 {
  background: url("/images/1.jpg") no-repeat center;
  background-size: contain;
}

.page2 {
  background: url("/images/2.jpg") no-repeat center;
  background-size: contain;
}

.page3 {
  background: url("/images/3.jpg") no-repeat center;
  background-size: contain;
}

.page4 {
  background: url("/images/4.jpg") no-repeat center;
  background-size: contain;
}

.page5 {
  background: url("/images/5.jpg") no-repeat center;
  background-size: contain;
}

.page6 {
  background: url("/images/6.jpg") no-repeat center;
  background-size: contain;
}

.page7 {
  background: url("/images/6.jpg") no-repeat center;
  background-size: contain;
}

.page8 {
  background: url("/images/7.jpg") no-repeat center;
  background-size: contain;
}

.page9 {
  background: url("/images/8.jpg") no-repeat center;
  background-size: contain;
}

.page10 {
  background: url("/images/9.jpg") no-repeat center;
  background-size: contain;
}

.page11 {
  background: url("/images/10.jpg") no-repeat center;
  background-size: contain;
}

.page12 {
  background: url("/images/11.jpg") no-repeat center;
  background-size: contain;
}

.page13 {
  background: url("/images/12.jpg") no-repeat center;
  background-size: contain;
}

.page14 {
  background: url("/images/13.jpg") no-repeat center;
  background-size: contain;
}

.page15 {
  background: url("/images/14.jpg") no-repeat center;
  background-size: contain;
}

.page16 {
  background: url("/images/15.jpg") no-repeat center;
  background-size: contain;
}

.page17 {
  background: url("/images/16.jpg") no-repeat center;
  background-size: contain;
}

.page18 {
  background: url("/images/17.jpg") no-repeat center;
  background-size: contain;
}

.page19 {
  background: url("/images/18.jpg") no-repeat center;
  background-size: contain;
}

.page20 {
  background: url("/images/19.jpg") no-repeat center;
  background-size: contain;
}

.page21 {
  background: url("/images/20.jpg") no-repeat center;
  background-size: contain;
}

.page22 {
  background: url("/images/21.jpg") no-repeat center;
  background-size: contain;
}

.page23 {
  background: url("/images/22.jpg") no-repeat center;
  background-size: contain;
}

.page24 {
  background: url("/images/23.jpg") no-repeat center;
  background-size: contain;
}

.page25 {
  background: url("/images/24.jpg") no-repeat center;
  background-size: contain;
}

.page26 {
  background: url("/images/25.jpg") no-repeat center;
  background-size: contain;
}

.page27 {
  background: url("/images/26.jpg") no-repeat center;
  background-size: contain;
}

.page28 {
  background: url("/images/27.jpg") no-repeat center;
  background-size: contain;
}
