
.btn-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: solid 3px black;
}

.btn-next {
  float: right;
}

.btn-back {
  float: left;
}

.btn-read-to-me {
  margin-left: 45%;
}

.page0 {
  .btn-back,
  .btn-read-to-me {
    display: none;
  }
}

.page26 {
  .btn-next {
    display: none;
  }
}
