
body {
  /*font-family: 'Swanky and Moo Moo', cursive;*/
  font-family: 'Swanky and Moo Moo', helvetica, arial, sans-serif;
  color: #333;

  overflow: hidden;
  width: 100%;
  height: 100%;
}

@import "btn";
@import "bg";

.story-container {
  font-size: 3vw;
}

.circle {
  width: 1.5vw;
  position: absolute;
  top: -100%;
  left: -100%;
}

button {
  padding: 10px;
  margin: 20px 0;
}

.highlight {
  position: relative;
  color: yellow;

  z-index: 10;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.sentence-1 {
  position: absolute;
  top: 10%;
  left: 5%;
}

.sentence-2 {
  position: absolute;
  top: 20%;
  left: 10%;
}

.sentence-3 {
  position: absolute;
  top: 50%;
  right: 5%;
}

.sentence-4 {
  position: absolute;
  top: 60%;
  right: 5%;
}

.sentence-1,
.sentence-2,
.sentence-3,
.sentence-4 {
  &:after {

    content: "";
    display: block;
    width: 110%;
    height: 2em;
    background: grey;
    position: absolute;
    top: -5;
    left: -5;
    z-index: -1;
    opacity: .3;

    box-shadow: 0px 0px 90px 7px rgba(0, 0, 0, 0.6);

  }

}

