body {
    /*font-family: 'Swanky and Moo Moo', cursive;*/
    font-family: 'Swanky and Moo Moo', helvetica, arial, sans-serif;
    color: #333;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.btn-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: solid 3px black;
}

.btn-next {
    float: right;
}

.btn-back {
    float: left;
}

.btn-read-to-me {
    margin-left: 45%;
}

.page0 .btn-back,
.page0 .btn-read-to-me {
    display: none;
}

.page26 .btn-next {
    display: none;
}

.page0 {
    background: url("/images/0.jpg") no-repeat center;
    background-size: contain;
}

.page1 {
    background: url("/images/1.jpg") no-repeat center;
    background-size: contain;
}

.page2 {
    background: url("/images/2.jpg") no-repeat center;
    background-size: contain;
}

.page3 {
    background: url("/images/3.jpg") no-repeat center;
    background-size: contain;
}

.page4 {
    background: url("/images/4.jpg") no-repeat center;
    background-size: contain;
}

.page5 {
    background: url("/images/5.jpg") no-repeat center;
    background-size: contain;
}

.page6 {
    background: url("/images/6.jpg") no-repeat center;
    background-size: contain;
}

.page7 {
    background: url("/images/6.jpg") no-repeat center;
    background-size: contain;
}

.page8 {
    background: url("/images/7.jpg") no-repeat center;
    background-size: contain;
}

.page9 {
    background: url("/images/8.jpg") no-repeat center;
    background-size: contain;
}

.page10 {
    background: url("/images/9.jpg") no-repeat center;
    background-size: contain;
}

.page11 {
    background: url("/images/10.jpg") no-repeat center;
    background-size: contain;
}

.page12 {
    background: url("/images/11.jpg") no-repeat center;
    background-size: contain;
}

.page13 {
    background: url("/images/12.jpg") no-repeat center;
    background-size: contain;
}

.page14 {
    background: url("/images/13.jpg") no-repeat center;
    background-size: contain;
}

.page15 {
    background: url("/images/14.jpg") no-repeat center;
    background-size: contain;
}

.page16 {
    background: url("/images/15.jpg") no-repeat center;
    background-size: contain;
}

.page17 {
    background: url("/images/16.jpg") no-repeat center;
    background-size: contain;
}

.page18 {
    background: url("/images/17.jpg") no-repeat center;
    background-size: contain;
}

.page19 {
    background: url("/images/18.jpg") no-repeat center;
    background-size: contain;
}

.page20 {
    background: url("/images/19.jpg") no-repeat center;
    background-size: contain;
}

.page21 {
    background: url("/images/20.jpg") no-repeat center;
    background-size: contain;
}

.page22 {
    background: url("/images/21.jpg") no-repeat center;
    background-size: contain;
}

.page23 {
    background: url("/images/22.jpg") no-repeat center;
    background-size: contain;
}

.page24 {
    background: url("/images/23.jpg") no-repeat center;
    background-size: contain;
}

.page25 {
    background: url("/images/24.jpg") no-repeat center;
    background-size: contain;
}

.page26 {
    background: url("/images/25.jpg") no-repeat center;
    background-size: contain;
}

.page27 {
    background: url("/images/26.jpg") no-repeat center;
    background-size: contain;
}

.page28 {
    background: url("/images/27.jpg") no-repeat center;
    background-size: contain;
}

.story-container {
    font-size: 3vw;
}

.circle {
    width: 1.5vw;
    position: absolute;
    top: -100%;
    left: -100%;
}

button {
    padding: 10px;
    margin: 20px 0;
}

.highlight {
    position: relative;
    color: yellow;
    z-index: 10;
    text-shadow: 0px 0px 10px black;
}

.sentence-1 {
    position: absolute;
    top: 10%;
    left: 5%;
}

.sentence-2 {
    position: absolute;
    top: 20%;
    left: 10%;
}

.sentence-3 {
    position: absolute;
    top: 50%;
    right: 5%;
}

.sentence-4 {
    position: absolute;
    top: 60%;
    right: 5%;
}

.sentence-1:after,
.sentence-2:after,
.sentence-3:after,
.sentence-4:after {
    content: "";
    display: block;
    width: 110%;
    height: 2em;
    background: grey;
    position: absolute;
    top: -5;
    left: -5;
    z-index: -1;
    opacity: .3;
    box-shadow: 0px 0px 90px 7px rgba(0, 0, 0, 0.6);
}
